BasedOnStyle: Google
UseTab: Never
IndentWidth: 4
TabWidth: 4
ColumnLimit: 100
Language: Cpp
Standard: c++17
AccessModifierOffset: -2
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
DerivePointerAlignment: false
ForEachMacros: ["FOR", "FORR", "rep", "repn", "repr", "repnr"]
IncludeBlocks: Merge
PackConstructorInitializers: BinPack
PointerAlignment: Right
